<!--Header code begin-->
<header-money></header-money>
<!--Header code end-->

<!--Main page content begin-->
<section class="container well" id="container">

    <div class="row">
        <section class="container-fluid col-xs-12  col-sm-12  col-md-12 ">
            <!--Begin tabs pane-->
            <nav id="nav-pane">
                <div class="container-fluid">
                    <ul class="nav nav-pills">
                        <li><a ui-sref="et_login">Portfolio</a></li>
                        <li class="active"><a ui-sref="#">Order</a></li>
                        <li class="pull-right"><a ui-sref="login">Sign Out</a></li>

                    </ul>
                </div>
            </nav>
            <!--End tabs pane-->
            <hr>

            <div class="row">

                <!--Begin code for search pane-->
                <section id="searchBar" class="container-fluid col-xs-12 col-sm-12 col-md-6">
                    <label for="search-shares" class="search">Search Order: </label>
                    <input type="text" class="form-control col-xs-12 col-sm-12 col-md-6" placeholder="Search" id="search-shares">
                </section>

                <section id="searchAdditional" class="container-fluid col-xs-6 col-sm-6 col-md-3">
                    <label for="searchBy" class="search">Search By: </label>
                    <select class="form-control" name="searchBy" id="searchBy">
                                <option value="Buy">Name</option>
                                <option value="Sell">Portfolio Manager</option>
                            </select>
                </section>

                <section id="filterAdditional" class="container-fluid col-xs-6 col-sm-6 col-md-3">
                    <label for="searchBy" class="search">Filter By: </label>
                    <div class="form-group">
                        <div>
                            <input type='date' class="form-control" />
                        </div>
                    </div>
                </section>

            </div>

            <div>
                <button type="button" class="btn btn-primary btn-sm pull-right">
                            <span class="glyphicon glyphicon-search"></span> Search 
                        </button>
            </div>

            <!--Begin accrodion - Order History-->
            <div>
                <br> <br>
                <hr>
            </div>
            <!--SHARED DYNAMIC RETURNED DATA PASTE IT into a table template below -->
            <div class="table_div col-xs-12 table-responsive ">
                <table class="table table-striped table-bordered ">

                </table>
            </div>
            <div>
                <div class="col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default " style="margin-left: 15px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">Order History</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse ">
                                <div class="panel-body" ng-repeat="Portfolio in $ctrl.portfolioList">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accord" data-target="#collapse{{Portfolio.id}}" ng-bind="$ctrl.fullName(Portfolio)" ng-click="$ctrl.portfolioDetails(Portfolio.id)"></a>
                                    </h4>
                                    <div class="table-responsive" id="collapse{{Portfolio.id}}">
                                        <table class="table table-hover table-bordered" ng-if="$ctrl.accordian[Portfolio.id] === true">
                                            <thead>
                                                <th>PM ID</th>
                                                <th ng-click='$ctrl.sortColumn("id")' ng-class='$ctrl.sortClass("id")'>Order ID</th>
                                                <th>Stock Name</th>
                                                <th>Symbol</th>
                                                <th>Side</th>
                                                <th>Quantity</th>
                                                <th>Investment</th>
                                                <th>Date</th>
                                                <th>Status</th>

                                                </tr>
                                            </thead>
                                            <!--RENDER DATA FROM DB HERE INSIDE TBODY -->
                                            <tbody>

                                                <tr ng-repeat="loan in $ctrl.dataList[Portfolio.id]|orderBy:$ctrl.column:$ctrl.reverse">
                                                    <td>{{loan.pm_id}}</td>
                                                    <td>{{loan.id}}</td>
                                                    <td>{{loan.share_name}}</td>
                                                    <td>{{loan.symbol}}</td>
                                                    <td>{{loan.side}}</td>
                                                    <td>{{loan.quantity}}</td>
                                                    <td>{{loan.price}}</td>
                                                    <td>{{loan.timestamp| date }}</td>
                                                    <td>Completed</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--Main page content end-->

        <!--Footer code begin-->
        <footer-money></footer-money>
        <!--Footer code end-->